.filter-jobs-section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: black;
}
.all-jobs-cont{
    width: 35%;
    height: 100%;
}
.filter-cont{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}